@font-face {
  font-family: "Outfit";
  src: url("https://fonts.google.com/specimen/Outfit");
}

* {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: outfit;
  font-size: 15px;
}
.QR-card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 499px;

  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #9e9e9e;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.QR-card img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.QR-card .Qr-text {
  background-color: hsl(0, 0%, 100%);

  width: 288px;
  height: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

#para1 {
  background-color: hsl(0, 0%, 100%);
  max-width: 256px;
  max-height: 52px;
  font-size: 22px;
  line-height: 120%;
  font-weight: bold;
  font-family: Outfit, sans-serif;
  color: rgba(31, 49, 79, 1);
  text-align: center;
  margin-bottom: 16px;
}

#para2 {
  max-width: 256px;
  max-height: 63px;
  color: hsl(216, 15%, 48%);
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  font-family: Outfit, sans-serif;
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}
